body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efeef5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-container {
  margin: 50px;
}

.white-card {
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 8px 0 rgba(63, 63, 68, 0.1);
  margin-top: 14px;
  padding: 17px 20px;
  margin-bottom: 20px;
  /* position: ${props => props.position || 'static'}; */

  margin-top: 15px;
  margin-bottom: 15px;
  height: 400px;
}
